.logo {
    margin: auto;
    display: flex;
}

.bold {
    font-weight: 700;
}

/* INPUT SEARCH */
.input-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 17px auto 20px auto;
    border-radius: 5px;
    height: 69px;
    background-color: var(--grey);
}
.input-field {
    width: 100%;
    font-size: 18px;
    opacity: 25%;
    padding: 10px;
    outline: none;
    background-color: transparent;
    border: none;
}
.input-field:focus {
    border: none;
}
.icon {
   margin-right: 16.5px;
    background-color: transparent;
    text-align: center;
    font-size: 32px;
}
/* TAGS */
#tags {
    display: flex;
    align-items: center;
}
.tag-container {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    margin: 10px 20px 15px 0;
    border: none;
    border-radius: 5px;
}

.tag-name {
    margin-right: 10px;
}
.close-tag {
    cursor: pointer;
}

/* FILTERS */

.filters {
    display: inline-flex;
}
.filter-dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    border-radius: 5px;
    min-width: 170px;
    padding: 23px 18px 24px 26px;
    border: none;
    cursor: pointer;
}
.filter-dropdown p {
    font-size:18px;
}

.content {
    margin-right: 20px;
    border-radius: 5px;
    min-width: 170px;
    padding: 23px 18px 24px 26px;
    border: none;
    display: none;
    overflow: hidden;
    position: relative;
    z-index: 999;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header input{
    background-color: inherit;
    opacity: 50%;
    color: inherit;
    border-color: transparent;
}
.content-header input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
.content-header input::placeholder{
    color: inherit;
}
.content-header span {
    cursor: pointer;
}

.list-of-elements {
    column-count: 3;
    z-index: 999;
    list-style: none;
    padding: 0;
    font-size: 18px;
    line-height: 21.6px;
}
.list-element {
    padding-bottom: 10px;
    cursor: pointer;
}

/* RECIPES */

#recipes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}

/* 1 RECIPE */
.recipe-container {
    width: 30%;
    height: 380px;
    margin-bottom: 50px;
}
.recipe-image {
    width: 100%;
    height: 178px;
    background-color: var(--imageBackground);
    border-radius: 5px 5px 0 0;
}

/* RECIPE DESCRIPTION */
.recipe-description {
    border-radius: 0 0 5px 5px;
    height: calc(100% - 178px);
    padding: 20px;
    background-color: var(--grey);
}

/* HEADER */
.recipe-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.recipe-title {
    width: calc(100% - 90px);
    margin: 0;
    line-height: 21,6px;
    height: calc(21,6px * 2);
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}
.recipe-cooktime {
    width: 90px;
    display: flex;
    align-items: center;
}
.time {
    margin-left: 7px;
    font-size: 18px;
}

/* MAIN */
.recipe-main {
    display: flex;
    margin-top: 20px;
}
.ingredients-list {
    width: 50%;
    line-height: 14.4px;
    height: calc(14.4px * 7);
    -webkit-line-clamp: 7;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}
.recipe-text {
    width: 50%;
    height: calc(12px * 8);
    line-height: 12px;
    -webkit-line-clamp: 8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden; 
}


